body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5
}

h3 {
    font-family: "Montserrat";
    font-weight: bold;
}

p {
    color: #8f8f8f
}

.brand-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.container-fluid {
    padding: 3% 15%;
}

.download-button {
    margin: 5% 3% 0;
}

.feature-box {
    padding: 0 1.8rem 2.5rem;
    text-align: center;
}

.feature-icon {
    color: #fc757c;
    font-size: 3rem;
    padding: 3.8rem 0 2rem;
    width: 70%;
}

.feature-icon:hover {
    color: #ff4c68;
}

.iphone {
    transform: rotate(25deg);
    padding: 4.5rem 0 0 1.2rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

#title_h1 {
    color: white;
}

#first_row {
    padding: 5% 0;
}

#iphone6 {
    width: 60%;
    padding-top: 2.5rem;
}

