#title {
    background-color: #ff4c68
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
    padding: 3% 15%;
}

#title_h1 {
    color: white;
}

#first_row {
    padding: 5% 0;
}

#iphone {
    transform: skew(-14deg);
}

#button {
    padding: 15% 0 0;
}